.task {
   font-weight: bolder;
   display: flex;
   padding: 10px;
   margin: 10px;
   justify-content: space-around;
}

.del {
   text-decoration: none;
   color: rgb(1, 1, 1);
}

input,
label {
   border-radius: 0.5rem;
   color: grey;
   margin: 1rem 0;
}

